In [103]:
import pandas as pd
import numpy as np
import sqlite3

dbConn = sqlite3.connect('./data/websiteData.db')
cur = dbConn.cursor()

In [104]:
dfPerCapita = pd.read_csv('./data/co2_tonsPerCapita_annual.csv', low_memory=False)
dfAnnualEmissions = pd.read_csv('./data/annual_co2_emissions_country.csv', low_memory=False)

## Creating Tables

In [ ]:
cur.execute(f"CREATE TABLE Countries (
                Name TEXT UNIQUE
                        NOT NULL,
                Code TEXT PRIMARY KEY
                        UNIQUE
                        NOT NULL
            );"
)

In [ ]:
cur.execute(f"CREATE TABLE Co2cumulative (
                Name TEXT UNIQUE
                        NOT NULL,
                Code TEXT REFERENCES Countries (Code) 
                        UNIQUE
                        NOT NULL
            );"
)

In [ ]:
cur.execute(f"CREATE TABLE Co2PerCapita (
                Code TEXT REFERENCES Countries (Code) 
                        UNIQUE
                        NOT NULL,
                Name TEXT UNIQUE
                        NOT NULL
            );"
)

## Adding Columns

In [105]:
# adding columns in Co2PerCapita table for each year
firstRow = dfPerCapita.iloc[0]
rowSliced = firstRow.drop(labels=["Country Name", "Code"])
years = rowSliced.index.to_list()

for year in years:
    try:
        cur.execute(f"ALTER TABLE Co2PerCapita ADD y{str(year)} REAL;")
    except:
        print(f"column y{year} is already in table")

In [106]:
# adding columns in Co2Cumulative table for each year
firstRow = dfAnnualEmissions.iloc[0]
rowSliced = firstRow.drop(labels=["Entity", "Code"])
years = rowSliced.index.to_list()

for year in years:
    try:
        cur.execute(f"ALTER TABLE Co2cumulative ADD y{str(year)} REAL;")
    except:
        print(f"column y{year} is already in table")

column y1750 is already in table
column y1751 is already in table
column y1752 is already in table
column y1753 is already in table
column y1754 is already in table
column y1755 is already in table
column y1756 is already in table
column y1757 is already in table
column y1758 is already in table
column y1759 is already in table
column y1760 is already in table
column y1761 is already in table
column y1762 is already in table
column y1763 is already in table
column y1764 is already in table
column y1765 is already in table
column y1766 is already in table
column y1767 is already in table
column y1768 is already in table
column y1769 is already in table
column y1770 is already in table
column y1771 is already in table
column y1772 is already in table
column y1773 is already in table
column y1774 is already in table
column y1775 is already in table
column y1776 is already in table
column y1777 is already in table
column y1778 is already in table
column y1779 is already in table
column y1780 is already in table
column y1781 is already in table
column y1782 is already in table
column y1783 is already in table
column y1784 is already in table
column y1785 is already in table
column y1786 is already in table
column y1787 is already in table
column y1788 is already in table
column y1789 is already in table
column y1790 is already in table
column y1791 is already in table
column y1792 is already in table
column y1793 is already in table
column y1794 is already in table
column y1795 is already in table
column y1796 is already in table
column y1797 is already in table
column y1798 is already in table
column y1799 is already in table
column y1800 is already in table
column y1801 is already in table
column y1802 is already in table
column y1803 is already in table
column y1804 is already in table
column y1805 is already in table
column y1806 is already in table
column y1807 is already in table
column y1808 is already in table
column y1809 is already in table
column y1810 is already in table
column y1811 is already in table
column y1812 is already in table
column y1813 is already in table
column y1814 is already in table
column y1815 is already in table
column y1816 is already in table
column y1817 is already in table
column y1818 is already in table
column y1819 is already in table
column y1820 is already in table
column y1821 is already in table
column y1822 is already in table
column y1823 is already in table
column y1824 is already in table
column y1825 is already in table
column y1826 is already in table
column y1827 is already in table
column y1828 is already in table
column y1829 is already in table
column y1830 is already in table
column y1831 is already in table
column y1832 is already in table
column y1833 is already in table
column y1834 is already in table
column y1835 is already in table
column y1836 is already in table
column y1837 is already in table
column y1838 is already in table
column y1839 is already in table
column y1840 is already in table
column y1841 is already in table
column y1842 is already in table
column y1843 is already in table
column y1844 is already in table
column y1845 is already in table
column y1846 is already in table
column y1847 is already in table
column y1848 is already in table
column y1849 is already in table
column y1850 is already in table
column y1851 is already in table
column y1852 is already in table
column y1853 is already in table
column y1854 is already in table
column y1855 is already in table
column y1856 is already in table
column y1857 is already in table
column y1858 is already in table
column y1859 is already in table
column y1860 is already in table
column y1861 is already in table
column y1862 is already in table
column y1863 is already in table
column y1864 is already in table
column y1865 is already in table
column y1866 is already in table
column y1867 is already in table
column y1868 is already in table
column y1869 is already in table
column y1870 is already in table
column y1871 is already in table
column y1872 is already in table
column y1873 is already in table
column y1874 is already in table
column y1875 is already in table
column y1876 is already in table
column y1877 is already in table
column y1878 is already in table
column y1879 is already in table
column y1880 is already in table
column y1881 is already in table
column y1882 is already in table
column y1883 is already in table
column y1884 is already in table
column y1885 is already in table
column y1886 is already in table
column y1887 is already in table
column y1888 is already in table
column y1889 is already in table
column y1890 is already in table
column y1891 is already in table
column y1892 is already in table
column y1893 is already in table
column y1894 is already in table
column y1895 is already in table
column y1896 is already in table
column y1897 is already in table
column y1898 is already in table
column y1899 is already in table
column y1900 is already in table
column y1901 is already in table
column y1902 is already in table
column y1903 is already in table
column y1904 is already in table
column y1905 is already in table
column y1906 is already in table
column y1907 is already in table
column y1908 is already in table
column y1909 is already in table
column y1910 is already in table
column y1911 is already in table
column y1912 is already in table
column y1913 is already in table
column y1914 is already in table
column y1915 is already in table
column y1916 is already in table
column y1917 is already in table
column y1918 is already in table
column y1919 is already in table
column y1920 is already in table
column y1921 is already in table
column y1922 is already in table
column y1923 is already in table
column y1924 is already in table
column y1925 is already in table
column y1926 is already in table
column y1927 is already in table
column y1928 is already in table
column y1929 is already in table
column y1930 is already in table
column y1931 is already in table
column y1932 is already in table
column y1933 is already in table
column y1934 is already in table
column y1935 is already in table
column y1936 is already in table
column y1937 is already in table
column y1938 is already in table
column y1939 is already in table
column y1940 is already in table
column y1941 is already in table
column y1942 is already in table
column y1943 is already in table
column y1944 is already in table
column y1945 is already in table
column y1946 is already in table
column y1947 is already in table
column y1948 is already in table
column y1949 is already in table
column y1950 is already in table
column y1951 is already in table
column y1952 is already in table
column y1953 is already in table
column y1954 is already in table
column y1955 is already in table
column y1956 is already in table
column y1957 is already in table
column y1958 is already in table
column y1959 is already in table
column y1960 is already in table
column y1961 is already in table
column y1962 is already in table
column y1963 is already in table
column y1964 is already in table
column y1965 is already in table
column y1966 is already in table
column y1967 is already in table
column y1968 is already in table
column y1969 is already in table
column y1970 is already in table
column y1971 is already in table
column y1972 is already in table
column y1973 is already in table
column y1974 is already in table
column y1975 is already in table
column y1976 is already in table
column y1977 is already in table
column y1978 is already in table
column y1979 is already in table
column y1980 is already in table
column y1981 is already in table
column y1982 is already in table
column y1983 is already in table
column y1984 is already in table
column y1985 is already in table
column y1986 is already in table
column y1987 is already in table
column y1988 is already in table
column y1989 is already in table
column y1990 is already in table
column y1991 is already in table
column y1992 is already in table
column y1993 is already in table
column y1994 is already in table
column y1995 is already in table
column y1996 is already in table
column y1997 is already in table
column y1998 is already in table
column y1999 is already in table
column y2000 is already in table
column y2001 is already in table
column y2002 is already in table
column y2003 is already in table
column y2004 is already in table
column y2005 is already in table
column y2006 is already in table
column y2007 is already in table
column y2008 is already in table
column y2009 is already in table
column y2010 is already in table
column y2011 is already in table
column y2012 is already in table
column y2013 is already in table
column y2014 is already in table
column y2015 is already in table
column y2016 is already in table
column y2017 is already in table
column y2018 is already in table
column y2019 is already in table
column y2020 is already in table
column y2021 is already in table
column y2022 is already in table

## Adding Data to Tables

In [107]:
# Adding the countries and codes from both datasets in to the Countries table

for item in [[dfAnnualEmissions, "Entity"], [dfPerCapita, "Country Name"]]:

    for index, row in item[0].iterrows():

        cur.execute(f'SELECT exists(SELECT 1 FROM Countries WHERE Code = "{row["Code"]}") AS row_exists')
        exists = cur.fetchone()[0]

        if not exists:
            cur.execute(f'INSERT or REPLACE INTO Countries (Name, Code) VALUES ("{row[item[1]]}", "{row["Code"]}");')
            dbConn.commit()

In [108]:
# cur.execute(f'DELETE FROM Co2cumulative') 
# dbConn.commit()

In [109]:
# Adding rows to the Co2cumulative table from the dataset

for index, row in dfAnnualEmissions.iterrows():

    cur.execute(f'SELECT exists(SELECT 1 FROM Co2cumulative WHERE Name = "{row["Entity"]}" AND Code = "{row["Code"]}") AS row_exists')
    exists = cur.fetchone()[0]

    if not exists:
        
        cur.execute(f'INSERT INTO Co2cumulative (Name, Code) VALUES ("{row["Entity"]}", "{row["Code"]}");')
        dbConn.commit()

        yearsRow = row.drop(labels=["Entity", "Code"])
        years = yearsRow.index.to_list()

        for year in years:
            cur.execute(f'UPDATE Co2cumulative SET y{year} = "{row[year]}" WHERE Code = "{row["Code"]}";')
            dbConn.commit()
        
cur.execute(f'DELETE FROM Co2cumulative WHERE Code = "ATA";')
dbConn.commit()

In [110]:
# cur.execute(f'DELETE FROM Co2PerCapita')
# dbConn.commit()

In [111]:
# Adding rows to the Co2PerCapita table from the dataset

for index, row in dfPerCapita.iterrows():

    cur.execute(f'SELECT exists(SELECT 1 FROM Co2PerCapita WHERE Name = "{row["Country Name"]}" AND Code = "{row["Code"]}") AS row_exists')
    exists = cur.fetchone()[0]

    if not exists:
        
        cur.execute(f'INSERT INTO Co2PerCapita (Name, Code) VALUES ("{row["Country Name"]}", "{row["Code"]}");')
        dbConn.commit()

        yearsRow = row.drop(labels=["Country Name", "Code"])
        years = yearsRow.index.to_list()

        for year in years:
            query = f"UPDATE Co2PerCapita SET y{year} = ? WHERE Code = ?;"
            cur.execute(query, (row[year], row['Code']))
            dbConn.commit()

In [112]:
dbConn.close()